In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
!pip install -i https://test.pypi.org/simple/ my_krml_24697409==2024.0.1.2

Looking in indexes: https://test.pypi.org/simple/
Collecting my_krml_24697409==2024.0.1.2
  Downloading https://test-files.pythonhosted.org/packages/8a/5f/be6fb0798d6bfa10eba4f83611f0c84c36f9e7e1605adebc3c3701426378/my_krml_24697409-2024.0.1.2-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: pandas==2.2.2 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from my_krml_24697409==2024.0.1.2) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.1 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from my_krml_24697409==2024.0.1.2) (1.5.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from pandas==2.2.2->my_krml_24697409==2024.0.1.2) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from pandas==2.2.2->my_krml_24697409==2024.0.1.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from pandas==2.2.2->my_krml_24697409==2024.0.1.2) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from pandas==2.2.2->my_krml_24697409==2024.0.1.2) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from scikit-learn==1.5.1->my_krml_24697409==2024.0.1.2) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from scikit-learn==1.5.1->my_krml_24697409==2024.0.1.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from scikit-learn==1.5.1->my_krml_24697409==2024.0.1.2) (3.5.0)
Requirement already satisfied: six>=1.5 in /Users/dtolqin/Library/Caches/pypoetry/virtualenvs/adv-mla-lab-3-JneGcMSl-py3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->my_krml_24697409==2024.0.1.2) (1.16.0)
Downloading https://test-files.pythonhosted.org/packages/8a/5f/be6fb0798d6bfa10eba4f83611f0c84c36f9e7e1605adebc3c3701426378/my_krml_24697409-2024.0.1.2-py3-none-any.whl (6.1 kB)
Installing collected packages: my_krml_24697409
Successfully installed my_krml_24697409-2024.0.1.2

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../data/raw/archive.zip')

In [7]:
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [8]:
df.shape

(308854, 19)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

In [10]:
df.describe()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000
mean,170.615249,83.588655,28.626211,5.096366,29.835200,15.110441,6.296616
std,10.658026,21.343210,6.522323,8.199763,24.875735,14.926238,8.582954
min,91.000000,24.950000,12.020000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,68.040000,24.210000,0.000000,12.000000,4.000000,2.000000
50%,170.000000,81.650000,27.440000,1.000000,30.000000,12.000000,4.000000
75%,178.000000,95.250000,31.850000,6.000000,30.000000,20.000000,8.000000
max,241.000000,293.020000,99.330000,30.000000,120.000000,128.000000,128.000000

In [11]:
df_cleaned = df.copy()

In [12]:
target = df_cleaned.pop("Heart_Disease")
target = target.map({'Yes' : 1, 'No' : 0})

In [13]:
from my_krml_24697409.data.sets import split_sets_random
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target, test_ratio=0.2)

In [15]:
from my_krml_24697409.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

In [16]:
from my_krml_24697409.models.null import NullClassifier

In [17]:
base_model = NullClassifier()

In [ ]:
y_base = base_model.fit_predict(y_train)